body{
    text-align: center;
    font-family: 'Montserrat', 'sans-serif';
    background-color: #ede682;
    background-image: url("https://www.transparenttextures.com/patterns/fresh-snow.png");
    color: #a05344;
}
h1, h2, h3{
    font-weight: bold;
}
h1{
    font-size: 55px;
}
.button{
    display: block;
    width: 115px;
    height: 25px;
    background: #a05344;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    line-height: 25px;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
}
.homebutton{
    display: block;
    width: 50%;
    height: 15px;
    line-height: normal;
    background: #a05344;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
}
.resetbtn{
    width: 115px;
    height: 25px;
    background: #a05344;
    color:#fff;
    border-color: #fff;
    box-shadow: none;
    border-width: 0.5px;
    border-radius: 5px;
    font-family: 'Montserrat','sans-serif';
}

.homebooks{
    width: 20%;
    height: 20%;
}

.bookimg{
    width: 200px;
    height: 280px;
}